h1 {
    color: white;
    text-align: center;
}

h2 {
    margin-top: 5px;
}

#header-gradient {
    padding: 5px;
    background-color: lightskyblue;
    background-image:
      linear-gradient(
        to right, 
        lightskyblue, #301934 
      );
}

#search-button {
    margin-top: 10px;
}

#current-weather {
    margin-top: 10px;
    margin-right: 100px;
    width: auto;
}

.card {
    margin: 10px;
    background-color: #5A5A5A;
    color: white;
}

#forecast-section {
    margin-right: 90px;
    margin-left: -10px;
    margin-top: 5px;
}

.temp,
.wind,
.humidity {
    margin-bottom: 5px;
}

.search-history-btn {
    background-color: #DEDEDE;
    color: black;
    border-color: #DEDEDE;
}